[submodule "try-code"]
	path = try-code
	url = git@github.com:lewang/le_emacs_try_code.git
[submodule "LRU-yank"]
	path = LRU-yank
	url = git@github.com:lewang/le_emacs_LRU_yank.git
[submodule "whole-line-funcs"]
	path = whole-line-funcs
	url = git@github.com:lewang/le_emacs_whole_line_funcs.git
[submodule "rebox2"]
	path = rebox2
	url = git@github.com:lewang/rebox2.git
