[submodule "try-code"]
	path = try-code
	url = git@github.com:lewang/le_emacs_try_code.git
[submodule "LRU-yank"]
	path = LRU-yank
	url = git@github.com:lewang/le_emacs_LRU_yank.git
[submodule "whole-line-funcs"]
	path = whole-line-funcs
	url = git@github.com:lewang/le_emacs_whole_line_funcs.git
[submodule "rebox2"]
	path = rebox2
	url = git@github.com:lewang/rebox2.git
[submodule "xargs-grep"]
	path = xargs-grep
	url = git@github.com:lewang/le_emacs_xargs_grep.git
[submodule "backup-walker"]
	path = backup-walker
	url = git@github.com:lewang/backup-walker.git
[submodule "e-sink"]
	path = e-sink
	url = git@github.com:lewang/e-sink.git
[submodule "unique-window-buffers"]
	path = unique-window-buffers
	url = git@github.com:lewang/unique-window-buffers.git
[submodule "scf-mode"]
	path = scf-mode
	url = git@github.com:lewang/scf-mode.git
[submodule "anything-project-files"]
	path = anything-project-files
	url = git@github.com:lewang/anything-project-files.git
