[submodule "try-code"]
	path = try-code
	url = git@github.com:lewang/le_emacs_try_code.git
[submodule "LRU-yank"]
	path = LRU-yank
	url = git@github.com:lewang/le_emacs_LRU_yank.git
[submodule "whole-line-funcs"]
	path = whole-line-funcs
	url = git@github.com:lewang/le_emacs_whole_line_funcs.git
[submodule "rebox2"]
	path = rebox2
	url = git@github.com:lewang/rebox2.git
[submodule "xargs-grep"]
	path = xargs-grep
	url = git@github.com:lewang/le_emacs_xargs_grep.git
[submodule "backup-walker"]
	path = backup-walker
	url = git@github.com:lewang/backup-walker.git
[submodule "e-sink"]
	path = e-sink
	url = git@github.com:lewang/e-sink.git
[submodule "unique-window-buffers"]
	path = unique-window-buffers
	url = git@github.com:lewang/unique-window-buffers.git
[submodule "scf-mode"]
	path = scf-mode
	url = git@github.com:lewang/scf-mode.git
[submodule "winring2"]
	path = winring2
	url = git@github.com:lewang/wingring2.git
[submodule "iedit"]
	path = iedit
	url = git@github.com:lewang/iedit.git
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = git@github.com:lewang/ace-jump-mode.git
[submodule "jump-char"]
	path = jump-char
	url = git@github.com:lewang/jump-char.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "expand-region"]
	path = expand-region
	url = git@github.com:lewang/expand-region.el.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "mmm-mode"]
	path = mmm-mode
	url = https://github.com/purcell/mmm-mode.git
[submodule "rinari"]
	path = rinari
	url = git@github.com:lewang/rinari.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "highlight-symbol"]
	path = highlight-symbol
	url = git@github.com:lewang/highlight-symbol.el.githttps://github.com/nschum/highlight-symbol.el.git
[submodule "generic-edit-special"]
	path = generic-edit-special
	url = git@github.com:lewang/generic-edit-special.git
[submodule "inf-ruby"]
	path = inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.gitgit@github.com:lewang/inf-ruby.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs_chrome"]
	path = emacs_chrome
	url = git@github.com:lewang/emacs_chrome.gitgit://github.com/stsquad/emacs_chrome.git
[submodule "fic-mode"]
	path = fic-mode
	url = git@github.com:lewang/fic-mode.git
[submodule "command-log-mode"]
	path = command-log-mode
	url = git@github.com:lewang/command-log-mode.git
[submodule "helm"]
	path = helm
	url = git@github.com:emacs-helm/helm.git
[submodule "helm-project-files"]
	path = helm-project-files
	url = git@github.com:lewang/helm-project-files.git
[submodule "durendal"]
	path = durendal
	url = https://github.com/technomancy/durendal.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule "scss-mode"]
	path = scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "helm-cmd-t"]
	path = helm-cmd-t
	url = git@github.com:lewang/helm-cmd-t.git
[submodule "ibuffer-vc"]
	path = ibuffer-vc
	url = https://github.com/purcell/ibuffer-vc.git
[submodule "handlebars-mode"]
	path = handlebars-mode
	url = https://github.com/danielevans/handlebars-mode.git
[submodule "one-key"]
	path = one-key
	url = git@github.com:lewang/one-key.git
[submodule "wgrep"]
	path = wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "autopair"]
	path = autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "bm"]
	path = bm
	url = https://github.com/joodland/bm.git
[submodule "emacs-async"]
	path = emacs-async
	url = https://github.com/jwiegley/emacs-async.git
